.flashy {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.best {
  color: red;
  font-style: bold;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: pink;
  border: 2px solid green;
  padding: 4px;

}

.imgmain {
  float: right;
  padding: 10px;
  border: 2px solid green;

}
